
*{
margin:0px;
padding:0px;
box-sizing: border-box;

}



#nav{

    width:100vw;
    height:70px;
    display:flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 0px ;
    align-items: center;

}

#account{

    width:50px;
    height:50px;
    background-color: black;
    border-radius:50%;
    display:none;
    align-items:center;
} 

button{

    margin-left:20px;
    width:70px;
    cursor:pointer;
    padding:3px;

}

button:hover{

    color:white;
    background-color: rgba(0, 0, 0, 0.678);
   
}


#form{
  
    width:30vw;
    height:28vh;
    margin:auto;
    padding-top:10px;
    margin-top:50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

form{
   
    width:90%;
    height:90%;
    display:grid;
    gap:10px;
    margin:auto;
    
   

}

input{
width:90%;
margin:auto;
height:30px;


}
